.container {
  margin-inline: auto;
  width: min(90%, 90rem)
}

header,
section {
  padding: 3rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
}

body {
  font-size: 2em;
}

form {
  display: flex;
  /* align-items:baseline; */
}

input, label {
  display: block;
}

.item {
  margin-inline: 1rem;
}

small {
  font-size: 0.5em;
  font-style: italic;
  color: red;
}