:root {
  --ff-primary: "Roboto", sans-serif;
}


p {
  margin: 0.5rem;
}

header,
section {
  padding: 3rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
}

body {
  font-family: var(--ff-primary);
  font-size: 1.5em;
}

.container {
  margin-inline: auto;
  width: min(90%, 90rem)
}